extends ../home

block append scripts
  script(src='https://js.stripe.com/v2/',type='text/javascript')

block content
  .container
  .row
    .col-md-4
    .col-md-4
      form.payment-form(action='/edit-payment-profile',method='post',data-stripe-publishable-key=stripe_p_key,data-cc-on-file='false')
        input(name='utf8', type='hidden', value='✓')
        input(name='_method', type='hidden', value='PUT')
        input(type='hidden' name='edited-creditcard' value=false)
        input(type='hidden' name='edited-plan' value=false)
        .form-row
          .col-xs-12.form-group
            label.control-label Email
            br
            span#email #{session.passport.user.email}
            input#email-input.hidden.form-control(type='text',value='#{session.passport.user.email}',name='email')
            img#email-edit-btn.edit-btn.edit-icon(src='/icons/edit.png')
          #plan
            .col-xs-12.form-group
              label.control-label Plan
              br
              span #{session.user.subscription_plan}
            .col-xs-12.form-group
              label.control-label Expires on
              br
              span #{session.user.expiry}
            .col-md-12.form-group
              button.edit-btn.edit.btn.btn-link(type='button' id='plan-edit-btn') Switch Plan
          #plan-input.hidden
            .col-xs-12.form-group
              label.control-label Plan
              br
              select#plan-select.form-control(name='plan' value='{session.user.subscription_plan}')
                each plan in plans
                  option(value=plan.id,selected=session.user.subscription_plan == plan.id  ? true : false) $#{plan.cost} #{plan.name}
          #credit
            .col-xs-12.form-group
              label.control-label Charge to
              br
              span Credit Card ending in #{session.user.last4digits}
            .col-md-12
              button.edit-btn.btn.btn-link(type='button' id='credit-edit-btn') Change Credit Card Details
          #credit-input.hidden
            .form-row
              .col-xs-12.form-group.required
                label.control-label Name on Card
                input.sensitive.form-control(size='4', type='text')
            .form-row
              .col-xs-12.form-group.card.required
                label.control-label Card Number
                input.sensitive.form-control.card-number(autocomplete='off', size='20', type='text')
            .form-row
              .col-xs-4.form-group.cvc.required
                label.control-label CVC
                input.sensitive.form-control.card-cvc(autocomplete='off', placeholder='ex. 311', size='4', type='text')
              .col-xs-4.form-group.expiration.required
                label.control-label Expiration
                input.sensitive.form-control.card-expiry-month(placeholder='MM', size='2', type='text')
              .col-xs-4.form-group.expiration.required
                label.control-label  
                input.sensitive.form-control.card-expiry-year(placeholder='YYYY', size='4', type='text')
        .form-row
          button#edit-payment-form-submit.btn.btn-primary(type='button') Submit
    .col-md-4