extends ../home

block content
  .container
  .row
    .col-md-4
    .col-md-4
      form.account-form(action='/edit-profile',method='post')
        input(type='hidden' name='edited-password' value=false)
        .form-row
          .col-xs-12.form-group
              label.control-label Email
              br
              span#email #{session.passport.user.email}
              input#email-input.hidden.form-control(type='text',value='#{session.passport.user.email}',name='email')
              img#email-edit-btn.edit-btn.edit-icon(src='/icons/edit.png')
          .col-xs-12
            button#password-edit-btn.edit-btn.btn.btn-link(type='button') Change Password
          #password-input.hidden
            .col-xs-12.form-group
              label.control-label Enter old password
              br
              input.form-control(type='password' name='old-password')
            .col-xs-12.form-group
              label.control-label Enter new password
              br
              input.form-control(type='password' name='new-password')
            .col-xs-12.form-group
              label.control-label Retype new password
              br
              input.form-control(type='password' name='new-password-retype')
        .form-row
            button#edit-form-submit.btn.btn-primary(type='button') Submit
        .form-row
          .error #{error}
          .col-md-12.error.form-group.hide
            .alert-danger.alert
              | Please correct the errors and try again.
    .col-md-4