extends ../home

block content
  #signup.container
    .row
      .col-sm-6.col-md-4.col-md-offset-4
        .h3 Sign Up
        .account-wall
          form.form-signin(action='/signup', method='post')
            label.control-label Email 
            input.form-control(type='email', name='email', placeholder='Email Address ...', required='')
            label.control-label Password 
            input.form-control(type='password', name='password', placeholder='Password ...', required='')
            label.control-label Retype Password
            input.form-control(type='password', name='retype-password', placeholder='Password ...', required='')
            input.btn.btn-lg.btn-default.btn-block(type='submit', value='Sign Up')
            .error #{error}
          #tabs(data-tabs='tabs')
            p.text-center
              a(href='#login', data-toggle='tab') Back to Login