extends ../home

block append scripts
  script(src='https://js.stripe.com/v2/',type='text/javascript')

block content
  .container
  .row
    .col-md-4
    .col-md-4
      form.payment-form.require-validation(accept-charset='UTF-8', action='/stripe-signup', data-cc-on-file='false',data-stripe-publishable-key=stripe_p_key, method='post')
        div(style='margin:0;padding:0;display:inline')
          input(name='utf8', type='hidden', value='✓')
          input(name='_method', type='hidden', value='PUT')
        .subscription-container
          .error #{error}
          .h4 Choose your Subscription Plan
          .form-row
            each plan in plans
              label.radio-inline.control-label
                input(type='radio', value=plan.id, name='subscription-plan')
                | $#{plan.cost} #{plan.name}
        br
        .form-row
          .col-xs-12.form-group.required
            label.control-label Email
            input.sensitive.form-control(size='4', name='email', type='text')
        .form-row
          .col-xs-12.form-group.required
            label.control-label Name on Card
            input.sensitive.form-control(size='4', type='text')
        .form-row
          .col-xs-12.form-group.card.required
            label.control-label Card Number
            input.sensitive.form-control.card-number(autocomplete='off', size='20', type='text')
        .form-row
          .col-xs-4.form-group.cvc.required
            label.control-label CVC
            input.sensitive.form-control.card-cvc(autocomplete='off', placeholder='ex. 311', size='4', type='text')
          .col-xs-4.form-group.expiration.required
            label.control-label Expiration
            input.sensitive.form-control.card-expiry-month(placeholder='MM', size='2', type='text')
          .col-xs-4.form-group.expiration.required
            label.control-label  
            input.sensitive.form-control.card-expiry-year(placeholder='YYYY', size='4', type='text')
        .form-row
          .col-md-12.form-group
            button#payment-submit.form-control.btn.btn-primary(type='button') Pay »
        .form-row
          .col-md-12.error.form-group.hide
            .alert-danger.alert
              | Please correct the errors and try again.
    .col-md-4