div#main-nav.nav.navbar.navbar-light.bg-faded( role="navigation" )
  ul#my-nav.nav.navbar-nav
      li#icon-container
        img#logo(src='/tmp/logo' style='width:100%; height:100%')
      li.nav-item
        a.nav-link.secondary-color-hover(class=title=='Home' ? 'secondary-color-element active':undefined href='/') Home
      -if (settings['enabled-services'].indexOf('livestream') >= 0)
        li.dropdown.nav-item
            a.dropdown-toggle.nav-link.secondary-color-hover(class=title=='livestream' ? 'secondary-color-element active':undefined href="#", data-toggle="dropdown", role="button", aria-expanded="false" ) Live Streams
                span.caret
            ul.dropdown-menu( role="menu" )
                li: a( href="/stream_by_type/livestream" ) 
                      span#test1  All
                each cat,id in session.livestream_categories
                  li
                    a(href='/stream_by_category/livestream/'+id) #{cat}
       -if (settings['enabled-services'].indexOf('ondemand') >= 0)
        li.dropdown.nav-item
            a.dropdown-toggle.nav-link.secondary-color-hover(class=title=='ondemand' ? 'secondary-color-element active':undefined href="#", data-toggle="dropdown", role="button", aria-expanded="false" ) VOD
                span.caret
            ul.dropdown-menu( role="menu" )
                li: a( href="/stream_by_type/ondemand" )
                      span.cat  All
                each cat,id in session.ondemand_categories
                  li
                    a(href='/stream_by_category/ondemand/'+id) #{cat}
      -if (settings['enabled-services'].indexOf('go') >= 0)
        li.nav-item
          a.nav-link.secondary-color-hover(class=title=='goservices' ? 'secondary-color-element active':undefined  href="/goservices") Go Services
      -if (settings['website-label'])
        li.nav-item
          a.nav-link.secondary-color-hover(class=title=='goservices' ? 'secondary-color-element active':undefined  href=settings['website-url']) #{settings['website-label']}
       -if (settings['enabled-services'].indexOf('account') >= 0)
          if session.user.logged_in
            li#login-container
              span Welcome #{session.passport.user['email']}
              a( href="/signout") 
                b Sign out
          else
            li#login-container: a(href=settings['payment_gateway'] == 'stripe' ?  'https://dashboard.stripe.com/login?redirect=%2F' : '/login')
              b Login
      li#side-options
        div.btn-group.translate-btns(role="group")
        each lang in enabled_languages
          button.change-lang.btn.btn-xs.btn-link.muted-link(type='button', id=lang, class=session.current_language == lang ? 'active':'muted-link',style='margin-left:5%; margin-top:2%') #{lang}