if stream.video != 'null'
  .stream-container.container-fluid
    .player-container
      .featured-banner.banner-video
        .container.w-100
          .mobile-pad
        .row.bg-fill
          .col-sm-12
            #video-wrapper.video-wrapper(data-video=stream.id)
              video#the_video.video-js.vjs-tech.vjs-big-play-centered(controls preload='auto', poster=stream.thumbnail)
                  source(src=stream.video, type=file_type)
                  p.vjs-no-js
                    | To view this video please enable JavaScript, and consider upgrading to a web browser that
                    a(href='http://videojs.com/html5-video-support/', target='_blank')
                      | supports HTML5 video
        // Favourite and vote buttons                
        if session.user.logged_in
          .user-controls
            form.favourite-form
              input(type='hidden' name='stream-id' value=stream.id)
              if favourited
                button.unfavourite.btn.btn-success(type='button') Unfavourite
              else
                button.favourite.btn.btn-success(type='button') Favourite
            .voters
              button.upvote.vote.btn(type='button',id='upvote-' + stream.id, 
              class=user_vote == 1 ? 'voted' : undefined ) +
              button.downvote.vote.btn(type='button', id='downvote-' + stream.id
              class=user_vote == -1 ? 'voted' : undefined) -
              span#vote-count #{votes}
              #vote-error
    // Stream details 
    h4.title 
      span #{stream.title}
    .type
      span #{stream.type}
    .description
      span #{stream.description}
    .categories
      b Categories:  
      span  #{stream_categories}
    .tags
      b Tags:  
      span  #{tags}