each menu in stream_previews
  div.container
    if (menu.streams.length > 0)
      h3 #{menu.title}
    - for (var j = 0; j < menu.streams.length; j++)
        if (j == 0 || j % 4 == 0)
          .row
            - for (var i = j; i < (4 + j); i++ )
              - if (i >= menu.streams.length) break;
                .stream-box.col-lg-3(id=menu.streams[i].id)
                  a(href='/stream_by_id/' + menu.streams[i].type + '/' + menu.streams[i].id)
                    img.thumbnail(src= menu.streams[i].thumbnail)
                    span.stream-title #{menu.streams[i].title}
                    p.stream-description.muted-text.small #{menu.streams[i].description}
                      span ...
                  form 
                    input(type="hidden" name="id" value=menu.streams[i].id)
                    input(type="hidden" name="type" value=type)