extends home

block content
  .container-fluid#goservices-container
    #goservices-wrapper
      div.container
        - for (var j = 0; j < goservices.length; j++)
          if (j == 0 || j % 4 == 0)
            .row
              - for (var i = j; i < (4 + j); i++ )
                - if (i >= goservices.length) break;
                  .goservice-box.col-lg-3(id=goservices[i].id)
                    a(href=goservices[i].link)
                      img.thumbnail(src= goservices[i].thumbnail)
                    span.goservice-title #{goservices[i].title}