extends layout

block append styles
  link(href='/stylesheets/login.css', rel='stylesheet')

block mynav
  include includes/nav-bar.jade
               
block content
  script.
    $(document).ready(function(){   

       var enabled_services = '#{settings["enabled-services"]}'
       console.log("the enabled services " + enabled_services);

        var has_ads = serviceIsEnabled(enabled_services,'advertisement') && 
          ("#{stream_advertisements[0].Videoo}"  != 'null')
       
        var settings = {
           has_ads: has_ads,
           ad : "#{stream_advertisements[0].video}",
           ad_file_type: "#{ad_file_type}",
           stream_id : "#{stream.id}",
           user_queue : 0,
           featured : true,
           type : "#{stream.type}"
        }

        setupPlayer(settings); 
       }); 
                
  h4.homepage-msg #{session.homepage_msg}

  // Featured Video
  include includes/player-wrapper.jade

  // Recently Watched Streams and Favourited Streams for this user
  include includes/stream-thumbs-menu.jade 