doctype html
html
  head
    title #{settings['website-label']}
    block styles
      link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
      link(href='/stylesheets/style.css', rel='stylesheet')
      link(href='/stylesheets/dropzone.css', rel='stylesheet')
      link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
      link(href='/plugins/tags/bootstrap-tagsinput.css',rel='stylesheet')
      link(href='/plugins/bootstrap-tokenfield-master/dist/css/bootstrap-tokenfield.min.css',rel='stylesheet')
      link(href='/plugins/bootstrap-tokenfield-master/dist/css/tokenfield-typeahead.min.css',rel='stylesheet')
      link(href='/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css', rel='stylesheet')
      link(href='/stylesheets/dropzone.css', rel='stylesheet')
      link(href='/stylesheets/video-js.min.css' rel='stylesheet')
      //link(href='/plugins/videojs-ads/videojs.ads.css' rel='stylesheet')
      link(href='/plugins/videojs-ads-new/videojs.ads.css" rel="stylesheet')

      
    block scripts
      script(type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/2.0.1/jquery.min.js")
      script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
      script(src='/javascripts/bootstrap.min.js')
      script(src='/plugins/tags/bootstrap-tagsinput.js')
      script(src='/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js')
      script(src='/javascripts/bootstrap-tokenfield.js')
      script(src='/javascripts/dropzone.js')
      script(src='/javascripts/validator.min.js')
      script(src='/javascripts/event-handler.js')
      script(src='/javascripts/frontend-validators.js')
      script(src='/javascripts/frontend-helpers.js')
      script(src='/javascripts/video.min.js')
      script(src='/javascripts/videojs-contrib-hls.js')
      script(src='/plugins/videojs-ads-new/videojs.ads.js')
      script(src='/javascripts/ads-integration.js')
      script.

        $(document).ready(function(){

          // paint portal according to admin set settings 
          var primary_colour = '#{settings["primary-colour"]}'
          var secondary_colour = '#{settings["secondary-colour"]}'

          paint(primary_colour,secondary_colour); 
       
        })

  block body
    block mynav
    block content