extends home

block content
  #login.container
    .error #{error}
    .row
      .col-sm-6.col-md-4.col-md-offset-4
        .account-wall
          #my-tab-content.tab-content
            #login.tab-pane.active
              form.form-signin(action='/login-stripe', method='post')
                input.form-control(type='text', placeholder='Username', name='email' required='', autofocus='')
                input.btn.btn-lg.btn-default.btn-block(type='submit', value='Sign In')
              #tabs(data-tabs='tabs')
                p.text-center
                  a(href='/signup') Need an Account?  