extends home

block append styles
  link(href='/stylesheets/navbar-fixed-side.css', rel='stylesheet')
  link(href='/stylesheets/style.css', rel='stylesheet')

// List streams of selected category 
block content
  #streams-container.container-fluid.primary-colour-bg-element
    // Category side nav 
    #sidenav-wrapper
      .row
        .col-sm-3.col-lg-2
          .navbar.navbar-inverse.navbar-fixed-left
            ul.nav.navbar-nav
              br
              br 
              li
                a.sidemenu-item(class=category.label=='All' ? 'active secondary-color-element':'secondary-color-hover' href='../../stream_by_type/'+type, style="color:#585858") All
              each cat,id in categories
                li.category
                  div
                    a.sidemenu-item(class=category.label==cat ? 'active secondary-color-element':'secondary-color-hover')(href='../../stream_by_category/'+ type + '/' + id) #{cat}
    // Stream thumbs container
    #streams-wrapper
      div.container
        div.category-header
          h3.category-title #{category.label}
        - for (var j = 0; j < streams.length; j++)
          if (j == 0 || j % 4 == 0)
            .row
              - for (var i = j; i < (4 + j); i++ )
                - if (i >= streams.length) break;
                  .stream-box.col-lg-3(id=streams[i].id)
                    a(href='/stream_by_id/' + type + '/' + streams[i].id)
                      // Stream thumbnail 
                      // Gray out if stream is locked
                      img(src= streams[i].thumbnail, 
                      class=streams[i].private ? 'locked thumbnail' : 'thumbnail')
                      if (streams[i].private)
                        span.lock LOCKED
                        br
                      span.stream-title #{streams[i].title}
                      p.stream-description.muted-text.small #{streams[i].description}
                        span ...