extends home

block content
  script.
    $(document).ready(function(){   

      var enabled_services = '#{settings["enabled-services"]}'

      var has_ads = serviceIsEnabled(enabled_services,'advertisement') && 
        ("#{stream_advertisements[0].video}"  != 'null')
     
      var settings = {
         has_ads: has_ads,
         ad : "#{stream_advertisements[0].video}",
         ad_file_type: "#{ad_file_type}",
         stream_id : "#{stream.id}",
         user_queue : "#{session.user.watch_queue[stream_id]}",
         type : "#{stream.type}"
      }

      setupPlayer(settings); 
                
    }); 

  // Stream container 
  include includes/player-wrapper.jade
  
  // Related Streams
  include includes/stream-thumbs-menu.jade