body {
  background-color: #FFFFFF;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px; }

a {
  cursor: pointer; }
  a:hover {
    text-decoration: none; }

.container-fluid {
  padding-left: 0px; }

.edit-icon {
  padding-left: 1%;
  height: 15px;
  cursor: pointer;
  opacity: 0.2; }
  .edit-icon:hover {
    opacity: 1; }

#edit-form-submit {
  width: 100%; }

.muted-link, .muted-text {
  color: #cecece; }

.homepage-msg {
  text-align: center;
  font-style: italic; }

.thumbnail {
  width: 250px;
  height: 155px;
  cursor: pointer; }

.translate-btns {
  width: 100%; }
  .translate-btns .muted-link {
    color: #e8e8e8; }
  .translate-btns .active {
    color: #3c3c3c; }

#main-nav {
  border-bottom-width: 3px;
  border-bottom-style: solid;
  height: 60px;
  margin-bottom: 40px;
  width: 100%; }

#my-nav {
  height: 58px;
  width: 100%; }

#my-nav .nav-item, #main-nav .nav-item {
  height: 100%;
  margin-left: 1%;
  margin-right: 1%; }
  #my-nav .nav-item a, #main-nav .nav-item a {
    color: gray;
    cursor: pointer;
    background: none; }

#my-nav .active, #main-nav .active {
  border-bottom-width: 3px;
  border-bottom-style: solid; }
  #my-nav .active .nav-link, #main-nav .active .nav-link {
    background: transparent; }

#my-nav .nav-item > .nav-link:hover, #main-nav .nav-item > .nav-link:hover {
  background: white;
  background: transparent; }

#my-nav .dropdown-menu li:hover, #main-nav .dropdown-menu li:hover {
  background-color: #e8e8e8; }

#side-options {
  width: 10%;
  float: right; }
  #side-options .active {
    color: #585858;
    border: none; }

#login-container {
  float: right; }
  #login-container a {
    color: #585858; }
  #login-container a:hover {
    background: white;
    font-size: 15px; }

#signup {
  text-align: center; }

.category-control {
  display: none; }

.navbar-fixed-left {
  width: 15%;
  position: fixed;
  margin-left: 0px;
  left: 0px;
  background: white;
  border: none;
  border-radius: 0;
  height: 100%;
  border-right: solid #e8e8e8 3px; }
  .navbar-fixed-left .muted-link {
    padding-left: 20px; }
    .navbar-fixed-left .muted-link:hover {
      font-size: 90%;
      text-decoration: none;
      cursor: pointer; }
  .navbar-fixed-left .navbar-nav {
    width: 100%; }

.dropdown-toggle {
  border-bottom: none; }

.navbar-fixed-left .navbar-nav > li {
  float: none;
  /* Cancel default li float: left */
  width: 100%;
  padding-bottom: 10px;
  display: inline-block; }
  .navbar-fixed-left .navbar-nav > li a {
    color: #585858;
    padding: 5px 5px 5px 5px;
    padding-left: 20px;
    font-size: 17px;
    display: inline-block;
    width: 50%; }
  .navbar-fixed-left .navbar-nav > li .category-control {
    display: none;
    width: 30%; }
  .navbar-fixed-left .navbar-nav > li .category-control:hover {
    color: #585858; }
  .navbar-fixed-left .navbar-nav > li .active {
    border-left-width: 4px;
    border-left-style: solid; }
  .navbar-fixed-left .navbar-nav > li a:hover {
    cursor: pointer;
    text-decoration: none; }
  .navbar-fixed-left .navbar-nav > li a:focus {
    text-decoration: none; }

.navbar-fixed-left + .container {
  padding-left: 160px; }

/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
  margin-top: -50px;
  margin-left: 140px; }

.vote {
  color: white; }

.voted {
  background: #808080; }

.user-controls {
  width: 100%; }
  .user-controls > * {
    display: inline-block; }

.voters {
  float: right; }

.locked {
  opacity: 0.4;
  filter: alpha(opacity=40); }

.lock {
  color: #808080;
  font-weight: bold; }

.category-title {
  position: relative;
  top: -20px;
  float: left; }

.category-header {
  display: inline-block;
  width: 100%; }

#streams-container, #goservices-container {
  width: 100%;
  display: inline-block; }

#streams-wrapper, #goservices-wrapper {
  width: 80%;
  float: left; }
  #streams-wrapper .container, #goservices-wrapper .container {
    width: 100%; }
    #streams-wrapper .container .row, #goservices-wrapper .container .row {
      padding-bottom: 2%; }
    #streams-wrapper .container .thumbnail, #goservices-wrapper .container .thumbnail {
      margin-left: auto;
      margin-right: auto; }

#sidenav-wrapper {
  width: 15%;
  float: left; }

.stream-box {
  text-align: center;
  line-height: 20px;
  cursor: pointer; }
  .stream-box .stream-description {
    height: 40px;
    overflow: hidden; }

.goservice-box {
  text-align: center;
  line-height: 20px;
  cursor: pointer; }

.stream-container .type {
  color: #ff8600; }

.stream-container .title {
  line-height: 0; }

.ui-autocomplete {
  z-index: 5000; }

.dropzone .dz-preview .dz-image {
  width: 250px;
  height: 250px; }

#add-goservice-form {
  width: 70%; }

.modal-body .row {
  margin-left: 0px;
  margin-right: 0px; }

.lang-toggles {
  padding-left: 2%; }

.subscription-container {
  text-align: center; }

#logo {
  width: 150px;
  height: 60px; }

#icon-container {
  width: 150px;
  height: 60px;
  padding-bottom: 5px;
  margin-right: 1%; }
  #icon-container #logo {
    height: 100%;
    width: 100%; }

.form-container {
  padding-left: 50px;
  padding-right: 50px; }

.image-container {
  width: 60%; }

#category-form {
  width: 50%; }

.border-banner {
  display: block; }

.border-banner h2 {
  width: 80%;
  display: inline-block; }

.border-banner b {
  display: inline-block; }

#streams {
  margin-top: 5%; }

.error {
  color: red;
  text-align: center;
  padding-top: 1%; }

#login .error {
  text-align: center; }

.hidden {
  display: none; }

.video-wrapper {
  height: 550px;
  position: relative; }
  .video-wrapper > video {
    display: block; }
  .video-wrapper .video-js {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto; }
  .video-wrapper .ad-playing {
    position: absolute;
    z-index: 2;
    top: 8px;
    right: 8px;
    background: #000;
    padding: 6px 10px;
    line-height: normal;
    border-radius: 4px;
    font-size: 12px;
    color: #e8e8e8; }

.vjs-ad-playing.vjs-ad-playing .vjs-progress-control {
  pointer-events: none; }

.vjs-ad-playing.vjs-ad-playing .vjs-play-progress {
  background-color: #ffe400; }

.vjs-ad-playing.vjs-ad-loading .vjs-loading-spinner {
  display: block; }

.video-wrapper {
  margin-bottom: 7.5px; }

.likeable {
  display: inline-block;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: em(20); }

#like {
  top: em(2);
  background-image: '/icons/thumbs-up.svg'; }
  #like.liked {
    background-image: '/icons/thumbs-up-green.svg'; }

#dislike {
  top: em(6);
  margin-left: em(10);
  background-image: '/icons/thumbs-down.svg'; }
  #dislike.disliked {
    top: em(7);
    background-image: '/icons/thumbs-down-green.svg'; }

.like-count {
  font-size: 0.875rem; }

#viewCount {
  font-size: 0.875rem; }

.vjs-poster {
  background-color: transparent;
  outline: none !important; }

.video-js .vjs-big-play-button {
  border: 3px solid white;
  border-radius: 50%;
  background-color: fade(gray, 40%);
  transition: all 1s linear;
  color: #fff;
  line-height: 1.8em;
  font-size: 3em; }
  .video-js .vjs-big-play-button:hover, .video-js .vjs-big-play-button:focus, .video-js .vjs-big-play-button:active {
    background-color: fade(gray, 40%); }

.video-js .vjs-control-bar {
  background-color: transparent;
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.65) 100%); }

.video-js.vjs-live.vjs-no-flex .vjs-current-time {
  display: table-cell; }
