$primary-color: #FFFFFF;
$secondary-color: #1c75bc;

$muted-color:#e8e8e8;
$active-color:#3c3c3c;
$soft-black:#585858;
$nice-green:#4bcc5d;
$nice-orange:#ff8600;
$gray:#808080;

$grid-columns:      12 !default;
$grid-gutter-width: 30px !default;

$font-size-sm:   .875rem !default;

body { 
  background-color: $primary-color;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-bottom:30px;
  padding-left:10px;
  padding-right:10px;
}

a{
  cursor:pointer;
  &:hover{
    text-decoration:none; 
  }
}

.container-fluid{
  padding-left:0px;
}

.edit-icon{
  padding-left:1%;
  height:15px;
  cursor:pointer;
  opacity:0.2;
  &:hover{
    opacity:1;
  }
}

#edit-form-submit{
  width:100%;
}

// TEXT 

.muted-link, .muted-text{
  color:#cecece;
}

.homepage-msg{
  text-align:center;
  font-style:italic;

}

// IMAGES 
.thumbnail{
  width:250px;
  height:155px;
  
 
  cursor:pointer;
}

.translate-btns{
  width:100%;
  .muted-link{
    color:$muted-color;
  }  
  .active{
    color:#3c3c3c;
  }

}

#main-nav{
  border-bottom-width: 3px;
  border-bottom-style: solid; 
  height:60px;
  margin-bottom:40px;
  width:100%;
}

#my-nav{
  height: 58px;
  width:100%;
}

#my-nav, #main-nav {
  .nav-item {
    height:100%;
    margin-left:1%;
    margin-right:1%;
    a{
      color:gray;
      cursor:pointer;
      background:none;
    }
  }
  .active {
   
    border-bottom-width: 3px;
    border-bottom-style: solid;
    .nav-link{
      
      background:transparent;
    }
  }
  .nav-item > .nav-link:hover{
    background:white;
    background:transparent;
  }

  .dropdown-menu{
    li:hover{
      background-color:$muted-color;
    }
  }
}

// language and signout container 
#side-options{
  width:10%;
  float:right;
  .active{
    color:$soft-black;
    border:none;
  }
}

#login-container{
  float:right;
  a{
    color:$soft-black;
  }
  a:hover{
    background:white;
    font-size:15px;
  }
}

#signup{
  text-align:center;
}


// SIDE NAV 

.category-control{
  display:none;
}

.navbar-fixed-left {
  width: 15%;
  position: fixed;
  margin-left:0px;
  left:0px;
  background:white;
  border:none;
  border-radius: 0;
  height: 100%;
  border-right: solid $muted-color 3px;

  .muted-link{
    padding-left:20px;
    &:hover{
      font-size:90%;
      text-decoration:none;
      cursor:pointer    }
  }
  .navbar-nav{
    width: 100%;
  }

  
}

.dropdown-toggle{
  border-bottom:none;
}


.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 100%;
  padding-bottom: 10px;
  display:inline-block;
  a{
    color:$soft-black;
    padding: 5px 5px 5px 5px;
    padding-left:20px;
    font-size:17px;
    display:inline-block;
    width:50%;
  }
  .category-control{
    display:none;
    width:30%;
  }
  .category-control:hover{
    color:$soft-black;
  }
  .active{
   
    border-left-width:4px;
    border-left-style: solid;
  }
  a:hover{
    cursor:pointer;
    text-decoration:none;
   
  }
  a:focus{
   
    text-decoration:none;
  }

}

.navbar-fixed-left + .container {
  padding-left: 160px;
}

/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
  margin-top: -50px;
  margin-left: 140px;
}

// STREAMS LIST 

.vote{
  color:white;
}

.voted{
  background:$gray;
}

.user-controls{
  width:100%;
  & > * {
    display:inline-block;
  }
}

.voters{
  float:right;
}

// grays out private thumbails
.locked {
  opacity: 0.4;
  filter: alpha(opacity=40);
}

.lock{
  color:$gray;
  font-weight:bold;
}

.category-title{
  position:relative;
  top:-20px;
  float:left;
}

.category-header{
  display:inline-block;
  width:100%;
}


#streams-container,#goservices-container{
  width:100%;
  display:inline-block;
}

#streams-wrapper,#goservices-wrapper{
  width:80%;
  float:left;
  .container{
    width:100%;
  .row{
    padding-bottom:2%;
   }
  .thumbnail{
   margin-left: auto;
   margin-right: auto;
    }
  }
} 

#sidenav-wrapper{
  width:15%;
  float:left;
} 


.stream-box{
  text-align:center;
  line-height:20px;
  cursor:pointer;
  .stream-description{
    height:40px;
    overflow:hidden;
  }
}

.goservice-box{
  text-align:center;
  line-height:20px;
  cursor:pointer;
}

.stream-container{
  .type{
    color:$nice-orange;
  }
  .title{
    line-height:0; 
  }


}



// SETTINGS 


// FORMS



.ui-autocomplete { z-index: 5000; }


.dropzone .dz-preview .dz-image {
      width: 250px;
      height: 250px;
    }

#add-goservice-form{
  width:70%;
}

.modal-body{

  .row{
    margin-left:0px;
    margin-right:0px;
  }
}

.lang-toggles{
  padding-left:2%; 
}



// stripe signup

.subscription-container{
  text-align:center; 
}


// settings form

#logo{
    width: 150px;
    height: 60px;
}
#icon-container{
  width:150px;
  height:60px;
  padding-bottom: 5px;
  margin-right: 1%;
  #logo{
    height:100%;
    width:100%;
  }
}

.form-container{
  padding-left:50px;
  padding-right:50px;
}

.image-container{
  width:60%;
}

#category-form{
  width:50%;
}


.border-banner{
  display:block;
}

.border-banner h2{
  width:80%;
  display:inline-block;
}

.border-banner b{
  display:inline-block;
}

#streams{
  margin-top:5%;
}

.error{
  color:red;
  text-align:center;
  padding-top:1%;
}

#login{
  .error{
    text-align:center;
  }
}

.hidden{
  display:none;
}


// VIDEO JS 
 
.video-wrapper {
  height: 550px;
  position: relative;

  > video {
    display:block;
   
  }

  .video-js {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
    width: auto;
    height: auto; 
  }  

  .ad-playing {
    position: absolute;
    z-index: 2;
    top: 8px;
    right: 8px;
    background: #000;
    padding: 6px 10px;
    line-height: normal;
    border-radius: 4px;
    font-size: 12px;
    color: $muted-color;
  }
}  

.vjs-ad-playing.vjs-ad-playing .vjs-progress-control {
  pointer-events: none;
}

.vjs-ad-playing.vjs-ad-playing .vjs-play-progress {
  background-color: #ffe400;
}

.vjs-ad-playing.vjs-ad-loading .vjs-loading-spinner {
  display: block;
}

// wrapper 

.video-wrapper {
  margin-bottom: ($grid-gutter-width / 4);
}


// events 
.likeable {
  display: inline-block;
 // @include size(em(20));
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: em(20);
}
#like {
  top: em(2);
  background-image: '/icons/thumbs-up.svg';

  &.liked {
    background-image: '/icons/thumbs-up-green.svg';
  }
}
#dislike {
  top: em(6);
  margin-left: em(10);
  background-image: '/icons/thumbs-down.svg';

  &.disliked {
    top: em(7);
    background-image: '/icons/thumbs-down-green.svg';
  }
}
.like-count {
  font-size: $font-size-sm;
}

// View Count
#viewCount {
  font-size: $font-size-sm;
}


// poster
.vjs-poster {
  background-color: transparent;
  outline: none !important;
}


// controls 
.video-js {

  // Big play button
  .vjs-big-play-button {
    border: 3px solid white;
    border-radius: 50%;
   // @include size(2em);
    background-color: fade(gray, 40%);
    transition: all 1s linear;
    color: #fff;
    line-height: 1.8em;
    font-size: 3em;
   // @include position(absolute, 50% null null 50%);
   // @include margin(-1em null null -1em);

    &:hover,
    &:focus,
    &:active {
      background-color: fade(gray, 40%);
    }
  }

  // Control Bar
  .vjs-control-bar {
    background-color: transparent;
    background: linear-gradient(to bottom, rgba(#000, 0) 0%, rgba(#000, 0.65) 100%);
  }

  // Time
  &.vjs-live {
    .vjs-current-time {
    //  @include display(flex);
    }
  }
  &.vjs-live.vjs-no-flex {
    .vjs-current-time {
      display: table-cell;
    }
  }

}    


  